*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #030740, #49414d);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
    color: #fff;

}
.hero h1 span{
    color: rgba(255, 81, 0, 0.768);
}
textarea{
    width: 600px;
    height: 250px;
    background: #403d84;
    color: #fff;
    font-size: 20px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;

}
textarea::placeholder{
    color: #fdd4d4;
}
.row{
    display: flex;
    width: 600px;
    gap: 20px;
    align-items: center;
}
